<div class="container">
  <div class="card" style="width: 100%;">
    <img src="https://compass-ssl.xbox.com/assets/85/8b/858b94d4-0ca6-4e74-ac9f-38565c49f2df.jpg?n=Xbox-Series-X_Image-0_1083x1400_02.jpg" class="card-img-top img-fluid" alt="Responsive image">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center"><strong>X-Box X</strong></h2>

      <p class="card-text">SEl futuro de los juegos nunca ha sido más inspirador. La creatividad está floreciendo. Los nuevos
        servicios te permiten descubrir más títulos y te acercan a tus juegos, creadores y «streamers» favoritos.
        La nube supone una enorme oportunidad para transmitir juegos con calidad de consola y jugar con quien quieras y
        donde quieras. Y para muchos de nosotros, nada es más inspirador que el nacimiento de una nueva generación de consolas.</p>

      <h4>Especificaciones técnicas</h4>
      <ul class="list-group">
        <li class="list-group-item">SSD de 1 TB</li>
        <li class="list-group-item">CPU personalizado</li>
        <li class="list-group-item">Velocity Architecture</li>
        <li class="list-group-item">12 teraflops de potencia de procesamiento</li>
        <li class="list-group-item">Juegos 4K</li>
      </ul>

    </div>
  </div>
  <br>
  <div class="container">
    <a [routerLink]="['juegosconsola']" class="btn btn-primary">Ver Juegos</a>
  </div>
  <br>
</div>
