<h1>Mis Consolas</h1>
<hr>
<div class="row">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/ps4.jpg" alt="Playstation 5">
    <div class="card-body">
      <h5 class="card-title">Playstation 5</h5>
      <a [routerLink]="['infoconsola2']" class="btn btn-primary">Información</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/xboxone.jpg" alt="Xbox X">
    <div class="card-body">
      <h5 class="card-title">Xbox X</h5>
      <a [routerLink]="['infoconsola']" class="btn btn-primary">Información</a>
    </div>
  </div>

</div>
