<h1>Juegos PS5</h1>
<hr>

<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/doblaje/images/1/12/Crash_bandicoot_4_boxart.jpg/revision/latest?cb=20200622214620&path-prefix=es">
    <div class="card-body">
      <h5 class="card-title">Crash Bandicoot: It´s About Time</h5>
      <a [routerLink]="['juego3']" class="btn btn-primary">Ficha Técnica</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.pinimg.com/originals/1c/3b/8f/1c3b8f51a09c83255e121186025f5a5f.jpg">
    <div class="card-body">
      <h5 class="card-title">Resident Evil: 7</h5>
      <a [routerLink]="['juego4']" class="btn btn-primary">Ficha Técnica</a>
    </div>
  </div>


</div>
