<div class="container">
  <div class="card" style="width: 100%;">
    <img src="https://images8.alphacoders.com/794/794800.jpg" class="card-img-top img-fluid" alt="Responsive image">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center"><strong>Resident Evil: 7</strong></h2>
      <h4>Especificaciones técnicas</h4>
      <ul class="list-group">
        <li class="list-group-item">Developer: Capcom</li>
        <li class="list-group-item">Año de lanzamiento: 2017</li>
      </ul>

    </div>
  </div>
  <br>
</div>
