<div class="container">
  <div class="card" style="width: 100%;">
    <img src="https://i.ytimg.com/vi/aOGwx3Ju6QQ/maxresdefault.jpg" class="card-img-top img-fluid" alt="Responsive image">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center"><strong>Crash Bandicoot: It´s About Time</strong></h2>
      <h4>Especificaciones técnicas</h4>
      <ul class="list-group">
        <li class="list-group-item">Developer: Toys for Bob</li>
        <li class="list-group-item">Año de lanzamiento: 2020</li>
      </ul>

    </div>
  </div>
  <br>
</div>

