<div class="container">
  <div class="card" style="width: 100%;">
    <img src="https://media.vandal.net/i/1200x630/9-2020/202091110490_1.jpg" class="card-img-top img-fluid" alt="Responsive image">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center"><strong>PS5</strong></h2>

      <p class="card-text">Experimenta una carga a velocidad sorprendente con una SSD de velocidad ultrarrápida,
        una inmersión más profunda con soporte para respuesta háptica, gatillos adaptativos y audio 3D, además de una
        generación completamente nueva de juegos de PlayStation®.</p>

      <h4>Especificaciones técnicas</h4>
      <ul class="list-group">
        <li class="list-group-item">Salida de 8K</li>
        <li class="list-group-item">Hasta 120 fps con salida de 120 Hz</li>
        <li class="list-group-item">Juegos para televisores 4K</li>
        <li class="list-group-item">Tecnología HDR</li>
        <li class="list-group-item">Trazado de rayos</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="container">
    <a [routerLink]="['juegosconsola2']" class="btn btn-primary">Ver Juegos</a>
  </div>
  <br>
</div>
