<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['principal']">Principal <span class="sr-only">(current)</span></a>
      </li>
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" [routerLink]="['blog']">Blog <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['consolas']">Consolas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['adminConsolas']">Administrar Consolas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['adminJuegos']">Administrar Juegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['blog']">Blog</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['acercade']">Acerca De</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Escribe una busqueda" #palabrasBusqueda>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscar(palabrasBusqueda.value)">Buscar</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarJuego(palabrasBusqueda.value)">Buscar Juego</button>
    </form>
  </div>
</nav>
