<h1>Juegos X-BOX X</h1>
<hr>

<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.tonica.la/__export/1593022341931/sites/debate/img/2020/06/24/halo-infinite-portada.jpg_423682103.jpg" alt="PC Master Race">
    <div class="card-body">
      <h5 class="card-title">Halo Infinite</h5>
      <a [routerLink]="['juego1']" class="btn btn-primary">Ficha Técnica</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/91dj5nYfunL.jpg"  alt="Xbox One">
    <div class="card-body">
      <h5 class="card-title">Doom Eternal</h5>
      <a [routerLink]="['juego2']" class="btn btn-primary">Ficha Técnica</a>
    </div>
  </div>

</div>
