<div class="container">
  <div class="card" style="width: 100%;">
    <img src="https://media.vandal.net/i/1200x630/7-2020/202071013252097_1.jpg" class="card-img-top img-fluid" alt="Responsive image">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center"><strong>Halo Infinite</strong></h2>
      <h4>Especificaciones técnicas</h4>
      <ul class="list-group">
        <li class="list-group-item">Developer: 343 Industries</li>
        <li class="list-group-item">Año de lanzamiento: 2021</li>
      </ul>

    </div>
  </div>
  <br>
</div>

