<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Album #1
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <h1>Album: {{ album1 }}</h1>
        <h2>Artista: {{ artista1 }}</h2>
        <h2>Fecha Lanzamiento: {{ lanzamiento1 }}</h2>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Album #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <h1>Album: {{ album2 }}</h1>
        <h2>Artista: {{ artista2 }}</h2>
        <h2>Fecha Lanzamiento: {{ lanzamiento2 }}</h2>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Album #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <h1>Album: {{ album3 }}</h1>
        <h2>Artista: {{ artista3 }}</h2>
        <h2>Fecha Lanzamiento: {{ lanzamiento3 }}</h2>
      </div>
    </div>
  </div>
</div>
