<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="https://es.wikipedia.org/wiki/YHLQMDLG" ><img src="https://images.genius.com/aa1c8b77f382d4d32ad97002ab823680.1000x1000x1.png" class="d-block w-100" alt="Responsive image"></a>
    </div>
    <div class="carousel-item">
      <a href="https://es.wikipedia.org/wiki/Parachutes"><img src="https://img.discogs.com/4jwEExOZJ_tCj_AmLWJ-ou1JbNk=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-369337-1314899458.jpeg.jpg" class="d-block w-100" alt="Responsive image"></a>
    </div>
    <div class="carousel-item">
      <a href="https://es.wikipedia.org/wiki/Blurryface"><img src="https://images-na.ssl-images-amazon.com/images/I/71k-5WHYB9L._AC_SL1425_.jpg" class="d-block w-100" alt="Responsive image"></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
